@import url('./carousel.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --header-grey: #121212;
    /* Primary BG bör vara din bakgrundsfärg */
    --primary-bg: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: lighter;
    color: var(--primary-white);

}

body {
    background-color: var(--primary-bg);
    max-width: 100%;
}

/* Utils */
.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}
.center {
    margin: 0 auto;
}

.d-none {
    display: none;
}

.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    background-color: yellow;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}

.popular-title {
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem;
}

.card-container__card {
    flex-basis: 150px;
    flex-grow: 1;
    max-width: 200px;
    background-color: rgb(30, 30, 30);
    border-radius: 0 15px 15px 15px;
}

.card-container__poster {
    width: 100%;
    aspect-ratio: 1 / 1.5;
    border-top-right-radius: 15px;
}

.card-container__inner-container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
}

.card-container__title {
    font-size: 1rem;
}

/* --------------- Movie.html ---------------*/

.movie-information {
    margin: 1.5rem;
}

.movie-information__title {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 2rem;
}

.movie-information__sub-title {
    font-size: 1rem;
    color: rgb(255, 255, 255, 0.7);
}


.movie-information__poster {
    width: 200px;
    aspect-ratio: 1/1.5;
}

.movie-information__plot {
    line-height: 1.4rem;
}

.movie-information__flex-container {
    position: relative;
    display: flex;
    list-style-type: none;
    gap: 0.8rem;
    padding: 1rem 0;

}
.movie-information__flex-container--padding-0 {
    padding: 0;
}

.movie-information__flex-container--border-top {
    border-top: 1px rgb(255, 255, 255, 0.7) solid;
}

.movie-information__genre-list-item {
    border: 1px var(--primary-white) solid;
    border-radius: 50px;
    padding: 0.3rem 0.7rem;
}

.movie-information__favorite-bookmark {
    position: absolute;
    width: 40px;
    margin: 0.2rem;
    border: none;
    background: rgb(255, 255, 255, 0.4);
}

.movie-information__favorite-btn {
    width: 15rem;
    padding: 1rem;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: rgb(245, 197, 24);
}


.movie-information__meta-list-item {
    
}
.movie-information__meta-link {
    color: rgb(87, 153, 239);
    text-decoration: none;
}
.movie-information__meta-link:hover {
    text-decoration: underline;
}
