@import url('./carousel.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --header-grey: #121212;
    /* Primary BG bör vara din bakgrundsfärg */
    --primary-bg: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: lighter;
    color: var(--primary-white);

}

body {
    background-color: var(--primary-bg);
    max-width: 100%;
}

/* Utils */
.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}
.center {
    margin: 0 auto;
}

.d-none {
    display: none;
}

/* --------------- .header ---------------*/

.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    background-color: yellow;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
    color: black;
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
    color: black;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}

.hero-title {
    text-align: center;
}

/* --------------- .card-container ---------------*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

.card-container__card {
    position: relative;
    flex-basis: 200px;
    flex-grow: 1;
    max-width: 250px;
    background-color: rgb(30, 30, 30);
    border-radius: 0 15px 15px 15px;
}

.card-container__poster {
    width: 100%;
    aspect-ratio: 1 / 1.5;
    transition: filter 0.3s;
    border-top-right-radius: 15px;
}

.card-container__poster:hover {
    transition: filter 0.3s;
    filter: brightness(90%);
}

.card-container__trailer-link {
    width: fit-content;
    padding: 0.5rem 0.8rem;
    display: flex;
    gap: 0.5rem;
    align-self: center;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s;
    
}

.card-container__trailer-link:hover {
    transition: background-color 0.3s;
    background-color: rgb(46, 46, 46);
}

.card-container__play-icon {
    width: 0.8rem;
}

.card-container__inner-container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6rem;
}

.card-container__title {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* --------------- .movie-information ---------------*/

.movie-information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem;
}

.movie-information__title {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 2rem;
}

.movie-information__poster {
    width: 200px;
    aspect-ratio: 1/1.5;
    max-height: 300px;
}

.movie-information__plot {
    line-height: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 13;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.movie-information__plot--display-block {
    display: block;
}

.movie-information__flex-container {
    display: flex;
    gap: 0.8rem;
    list-style-type: none;
}
.movie-information__flex-container--padding-bottom-1 {
    padding-bottom: 1rem;
}

.movie-information__flex-container--position-relative {
    position: relative;
}

.movie-information__list-flex {
    display: flex;
    gap: 0.8rem;
    list-style-type: none;
}

.movie-information__list-flex--padding-1-0 {
    padding: 1rem 0;
}

.movie-information__list-flex--border-top {
    border-top: 1px rgb(255, 255, 255, 0.7) solid;
}

.movie-information__flex-container--border-top {
    border-top: 1px rgb(255, 255, 255, 0.7) solid;
}

.movie-information__info-list-item {
    list-style-type: disc;
    margin-left: 1rem;
}
.movie-information__info-list-item::first-letter {
    text-transform: capitalize;
}
.movie-information__info-list-item:first-of-type {
    list-style-type: none;
    margin: 0;
}

.movie-information__genre-list-item {
    border: 1px var(--primary-white) solid;
    border-radius: 50px;
    padding: 0.3rem 0.7rem;
}

.favorite-bookmark {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 40px;
    border: none;
    transition: background-color 0.35s;
    background: rgb(255, 255, 255, 0.4);
}

.favorite-bookmark:hover {
    transition: background-color 0.35s;
    cursor: pointer;
    background: rgb(255, 255, 255, 0.7);

}

/* .movie-information__meta-list-item {
    
} */

.movie-information__meta-link {
    color: rgb(87, 153, 239);
    text-decoration: none;
}
.movie-information__meta-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    .header {
        padding: 1rem;
    }

    .card-container { 
        margin: 1rem;
    }

    .card-container__card {
        flex-basis: 150px;
    }

    .movie-information {
        margin: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .header__flex {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .header__form {
        flex: 0 0 100%;
        order: 3;
    }

    .header__input {
        width: 70%;
    }

    .header__fav-btn {
        order: 2;
    }
}
@media screen and (max-width: 550px) {
    .movie-information__flex-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .movie-information__plot {
        -webkit-line-clamp: 3;
    }
}